[Unit]
Description=BigchainDB. The blockchain database.
Documentation=https://docs.bigchaindb.com/en/latest/
After=tendermint.service

[Service]
ExecStart=/usr/local/bin/bigchaindb start
WorkingDirectory=/root


[Install]
WantedBy=multi-user.target